@import "compass";
@import "compass/reset";

// Vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

$text-color: #333333;
$link-color: #C00906;
$content-width: 35em;
$main-font: Georgia, serif;
$monospace-font: Consolas, "Liberation Mono", Courier, monospace;
$cursive-font: 'Overlock', cursive;

@mixin scale-font($multiple) {
    @include adjust-font-size-to($multiple * $base-font-size);
}

body {
    background: #ffffff;
    color: $text-color;
    font-family: $main-font;
}

a:link, a:visited, a:active, a:hover {
    color: $link-color;
}

h1 a:link, h1 a:visited {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

abbr {
    border-bottom: 1px dotted;
}

#container {
    max-width: $content-width;
    margin: 0 auto;
}

header[role="banner"] {
    @include trailer;
    @include trailing-border();
    border-bottom: 5px solid #ccc;

    h1 {
        @include scale-font(4);
        font-family: $cursive-font;

        a {
            text-decoration: none;
        }
    }
}

article {
    @include trailer;

    h1 {
        @include scale-font(3/2);
    }

    h2 {
        @include scale-font(4/3);
        color: $link-color;
    }

    section {
        @include leader;
        @include trailer;
    }

    p {
        &:first-child {
            @include leader;
        }
        @include trailer;
        max-width: $content-width;
    }

    img, object, video {
        margin-left: auto;
        margin-right: auto;
        display: block;
        @include leader;
        @include trailer;
    }
}

footer[role="contentinfo"] {
    @include leading-border();
    clear: both;
    border-top: 5px solid #ccc;
    @include trailer;
}
