$red: #C00906;
$content_width: 44em;

@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: 320px) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: 1024px) { @content; }
	}
}

body {
	background: white;
	color: #333;
	font: normal 1em/1.5 Georgia, serif;
	margin: 0;
}

#content {
	margin: 4.5em auto 0;
	max-width: $content_width;
}

a:link, a:visited, a:active, a:hover {
	color: $red;
}

h1 a:link, h1 a:visited {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

// Header
header[role="banner"] {
	background: #444 url(/img/debut_dark.png) repeat;
	padding: 1.5em 0;
	margin: 0 0 3em;
	position: relative;
	box-shadow: 0px 10px 17px #888;

	h1 {
		font-size: 3em;
		font-family: 'Kaushan Script', cursive;
		line-height: 1;
		text-shadow: 1px 1px 1px #888;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	p {
		color: #999;
		font-size: 1.1em;
		font-family: 'Kaushan Script', cursive;
		line-height: 1.363634;
	}

	div {
		margin: 0 auto;
		max-width: 32em;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
	font-weight: normal;
}

img {
	@include respond-to(handhelds) { width: 100%; }
}

article {
	margin: 0.5em 0.5em 2.25em 0.5em;
	padding-bottom: 2.25em;
	position: relative;

	h1 {
		font-size: 1.5em;

		@include respond-to(wide-screens) {
			margin-bottom: 1em;
		}
	}

	header time {
		font-family: 'Kaushan Script', cursive;
		display: block;
		font-variant: small-caps;
		text-transform: lowercase;
		position: inherit;
		line-height: 1em;

		@include respond-to(wide-screens) {
			position: absolute;
			left: -6em;
			top: 0;
			text-align: center;
			width: 4em;
			color: $red;
			font-size: 1.3em;
			border-top: 2px solid #ccc;
			line-height: 31px;
		}
	}
}

// Footer
footer[role="contentinfo"] {
	border-top: 1px solid #333;
	margin: 3em auto 0;
	padding: 0.75em 0;
	max-width: $content_width;
}

code, pre {
	background: #F8F8F8;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
}

code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 13px;
}

pre {
	padding: 1em;
	white-space: pre;
	display: block;
	line-height: 19px;
}

pre > code {
	border: none;
}

p {
	margin: 0 0 1.5em;
}
