<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Caleb Perkins" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" title="Minimalist" href="/css/minimalist.css" />
    <link rel="alternate stylesheet" title="Polygons" href="/css/cool.css" />
    <link rel="stylesheet" href="/css/pygments.css" />
    <link rel="shortcut icon" href="/img/favicon.png" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom Feed">
    <link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="container">
        <header role="banner">
            <h1><a href="/">Caleb Perkins</a></h1>
        </header>
        {{ content }}
        <footer role="contentinfo">
            Hosted on <a href="https://github.com/rofflebuster/rofflebuster.github.com">GitHub Pages</a>.
        </footer>
    </div>
</body>
</html>
