<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Caleb Perkins" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/cool.css" />
	<link rel="stylesheet" href="/css/pygments.css" />
	<link rel="shortcut icon" href="/img/favicon.png" />
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom Feed">
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>

<body>
	<header role="banner">
		<h1><a href="/">Caleb Perkins</a></h1>
	</header>
	<div id="content" role="main">
		{{ content }}
	</div>
	<footer role="contentinfo">
		<figure>
			<img src="/img/profile.jpg" height="96" width="96">
			<figcaption><strong>Caleb Perkins</strong> dolor sit amet, consectetur adipiscing elit. Praesent volutpat lobortis vehicula. Suspendisse potenti. Aliquam erat volutpat. Nullam rhoncus, ante condimentum fringilla luctus, quam elit tincidunt sapien, sit amet fermentum.</figcaption>
		</figure>
	</footer>
</body>
</html>
