<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Caleb Perkins" />
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/screen.css" />
	<link rel="shortcut icon" href="/img/favicon.png" />
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom Feed">
</head>

<body>
	<header role="banner">
		<div>
			<h1><a href="/">Caleb Perkins</a></h1>
			<p>Insert tagline here.</p>
		</div>
	</header>
	<div id="content">
		{{ content }}
	</div>
	<footer role="contentinfo">Copyright © 2012 Caleb Perkins</footer>
</body>
</html>
