<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Caleb Perkins" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/cool.css" />
	<link rel="stylesheet" href="/css/pygments.css" />
	<link rel="shortcut icon" href="/img/favicon.png" />
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom Feed">
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>

<body>
	<header role="banner">
		<h1><a href="/">Caleb Perkins</a></h1>
	</header>
	<div id="content" role="main">
		{{ content }}
	</div>
	<footer role="contentinfo">
		<figure>
			<img src="/img/profile.jpg" height="96" width="96">
			<figcaption><strong>Caleb Perkins</strong> is a graduate student at <a href="http://www.cornell.edu/">Cornell University</a> studying Computer Science. While not programming, he enjoys listening to metal, playing guitar, hiking, and drinking bubble tea. He grew up in South Florida alongside five cats. Once he got hit in the ribs by a shot put.</figcaption>
		</figure>
	</footer>
</body>
</html>
